body {
	font-size: 80%;
	font-family: Arial, Verdana, or sans-serif;
	letter-spacing: 0.15em;	
	background-color: #efefef;
	}
		
#navigation {
	border-top: 2px solid #000;
	border-bottom: 1px solid #000;
	padding: 15px;
	width: 625px;
	list-style-type: none;
	text-align: center;
	margin: 0px auto 0px auto;
	}

#navigation {
	display: inline;
	padding-right: 15px;
	margin: 0px 3px 0px 3px;
	}
	
h1 {
	font-size: 1.5em;
	}
	
h2 {
	font-size: 1.33em;
	}

h3 {
	font-size: 1.25em;
	}

#content {
	width: 680px;
	overflow: auto;
	border: 1px solid #665544;
	margin: 20px auto 20px auto
	}

#content img {
	float: left;
	margin: 0 20px 0 0;
	}
	
#column1of2, #column2of2, #contact {
	width: 280px;
	float: left;
	margin: 10px;
	}
	
#contact {
	clear: left;
	}
	
a {
	color: #000000;
	text-transform: uppercase;
	text-decoration: none;
	}
	
a:hover, a#current-page {
	color: #cc3333;
	background-color: #ffffff;
	}
#pages {
	border: 4px double #000;
	padding: 20px;
	width: 960px;
	margin: 10px auto;
	}
#logo {
	width: 303px;
	margin: 10px auto 25px auto;
	
	}
