body {
	background-color: #9a96ff;
}
#four {
	background-color: #fffe53;
}
#three {
	background-color: #e88840;
	}
#two {
	background-color: #f346ff;
	}
#one {
	background-color: #40e8ac;
	}
#zero {
	background-color: rgba(243, 70, 255, .5);
	}
	