/*Main*/
/*Sets the main background of the browser window and sets the main type set*/
body {
	font-family: Arial, Verdana, sans-serif;
	background-image: url("../images/sand-blossom.gif");
	background-repeat: repeat;
	width: 90%;
	margin: 0 auto;
	}
	/*Font from Google fonts. Using the @font-face and the url to give access to the page.*/
@font-face {
	font-family: 'Cinzel', serif;
	src: url(http://fonts.googleapis.com/css?family=Cinzel:400,700,900);
	
	}
	/*This accesses the div that encloses the whole page/text/pictures which allows it to be centered on the web page.*/
#page {
	background-image: url("../images/header-background.png");
	background-repeat: no-repeat;
	background-position: center;
	border-style: inset;
	border-width: .313em;
	border-radius: 1.875em;
	background-color: #e6e6e6;
	width: 100%;
	margin: 2% auto 10% auto;
	
	}
.column1, .column2 {
	border-width: .313em;
	border-radius: 1.875em;
	width: 44.5%;
	float: left;
	margin: 1%;
	padding: 1%;
	}
	
.column1 {
	background: linear-gradient(#f8ffe8,#b7df2d);
	border-style: inset;
	}

.column2 {
	background: linear-gradient(#feffe8, #d6dbbf);
	margin-left: 2%;
	background-color: #e6e6e6;
	border-style: inset;
	
	
	}
	/*End Main*/
	/*This is the top of my page which includes the main header and sets it to the special font family and aligns it to the center of the page.*/
	/*Navigation/header*/
#top { 
	text-shadow: .313em .313em .125em rgba(242, 245, 246, .7);
	font-family: 'Cinzel', serif;
	font-family: Arial, Verdana, sans-serif;
	color: #6bba70;
	text-align: center;
	margin: .625em auto 1.25em auto;
	font-size: 300%;
	
	}
	
	/*This creates the inline look of the menu items that access the other headers on the page. I have also added some opacity and padding to make it more legible.*/
#menu li {
	box-shadow: .313em .313em .125em rgba(243, 70, 255, .2);
	border-style: outset;
	border-radius: .625em;
	list-style-type: circle;
	padding: .313em;
	width: 9.375em;
	margin: .625em 0 .625em 0;
	}

	/*End Navigation and header*/
	
	/*This sets the font family to the special type set in the @font-face section. Also gives shadow, border and padding to the text.*/
h2, h3 {
	font-family: 'Cinzel', serif;
	font-family: Arial, Verdana, sans-serif;
	text-shadow: .313em .313em .125em rgba(183, 223, 45, .3);
	border-top: .125em double #000000;
	padding-top: 1.25em;
	background-image: url("../images/globe-icon.png");
	background-position: left;
	background-repeat: no-repeat;
	text-align: center;
	color: #e88840;
	}
	/*This sets the styling for all the paragraphs on the page.*/
p {
	font-weight: normal;
	line-height: 1.2em;
	text-indent: 1.25em;
	margin: 0px .938em 0px;
	}
	/*adds some spacing between the text and the link and also centers it. (back to top)*/
.back {
	margin-top: .938em;
	text-align: center;
	}
	/*Changes the first list from bullets to upper-case letters.*/
ul {
	list-style-type: upper-alpha;
	}
	/*Sets the two lists in 25px to align them inside the paragraphs.*/
ul, ol{
	margin-left: 1.563em
	}
	/*Links styling/Picture box styling*/
	/*Sets the normal display for a link.*/
li a:link {
	text-decoration: underline; 
	}
	/*Sets the display style for when you hover over a link.*/
li a:hover {
	text-decoration: none;
	}
	/*Sets the display style for an actively clicked link.*/
li a:active {
	color: #fffe53;
	}
	/*Sets the display for a link that has already been visited when you return to the page.*/
li a:visited {
	border-style: dashed;
	}
	/*Sets the pictures in 15px to align with the paragraphs.*/
#pictures {
	text-align: center;
	}
	 /*Sets the size of the boxes around the pictures and sets the style of the border.*/
img {
	width: 15em;
	height: 10em;
	padding: .25em;
	margin: 1.875em auto 1.875em auto;
	display: block;
	border-style: inset;
	}
	/*Sets the hover status of the border.*/
img:hover {
	border-style: none;
	}
	/*Sets the visited status of the border of the pictures.*/
	
img:active {
	border-style: double;
	}
img:visited {
	border-style: outset;
	}
	/*Adds some space to the captions of the pictures. */
figcaption {
	margin: 10px auto 20px auto;
	} 

	/*End styling*/



	
	
	
	
	
	
	
	
	
	

	
	
	